
<mat-toolbar color="primary">
  <a href="#" style="color: white">Avtech Data Center</a>
  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>
  <form class="form-inline">
    <button class="mat-button" type="button">Reload</button>
  </form>

</mat-toolbar>
<!--
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand mr-auto" href="#">My Data Center</a>
  <form class="form-inline">
    <button class="btn btn-success" type="button">Reload</button>
  </form>
</nav>
-->
